# Ignora os arquivos gerados pelo FlashDevelop
/bin

# Ignora arquivos de deployment
/deployment

# Ignora a versão anterior da configuração do projeto FlashDevelop
/obj/*.old

# Ignora o arquivo de log do publish.sh
/publish.log

# Ignora arquivos do LaTeX
*.aux
*.log
*.pdf
*.backup
*~
